.comment {
  color: #f7f7f7;
}

.comment__light {
  color: #000;
}

.comment__actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.comment__channel_thumbnail {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.comment__actions_input {
  border: none;
  border-bottom: 1px solid #6c6c6d;
  background-color: transparent;
  outline: none;
  padding-bottom: 8px;
  color: #f7f7f7;
  width: 100%;
}

.comment__actions_input:focus {
  border-bottom: 1px solid #f7f7f7;
}
