.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  color: #f7f7f7;
}

.login__light {
  color: #000;
}

.login__contents {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--dark);
  padding: 20px 50px;
  border: 1px solid #ccc;
  gap: 10px;
  border-radius: 8px;
}

.login__contents_light {
  background-color: #fff;
}

.login__title {
  font-size: 24px;
}
.login__subtitle {
  font-weight: 300;
  font-size: 20px;
}

.login__input {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  border-color: transparent;
  width: 100%;
  outline: none;
}

.login__input_light {
  border: 1px solid #ccc;
}

.login__btn {
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 500;
  background-color: var(--dark);
  color: #f7f7f7;
}

.login__btn:hover {
  background-color: #ccc;
  color: #000;
}

.login__extra {
  display: flex;
  font-size: 10px;
  color: #ccc;
  margin-top: 10px;
  justify-content: space-between;
}

.login__extra_links > span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.login__extra_links {
  margin-left: 70px;
}
.login__extra_links span {
  margin-left: 10px;
}
