
.navbar{
    position:sticky;
    top: 0;
    height: 56px;
}

.navbar__contents{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    padding: 0px 20px;
    position: relative;
}

.navbar__actions {
    width: 40%;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.navbar__actions > input {
    border: none;
    background-color: transparent;
}
.navbar__actions >input:focus {
    border: none;
}

.navbar__btn_login{
    padding: 5px 8px;
    background-color: transparent;
    border: 1px solid #373737;
    border-radius: 14px;
    color: #3ea6ff;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 3px;
}

.navbar__btn_login:hover{
    background-color: #a0ecff;
}

.navbar__btn_login_light {
    border: 0.5px solid lightgray;
}