.card {
    width: 360px;
    margin-bottom: 45px;
    cursor: pointer;
}

.card__thumbnail{
    width: 100%;
    height: 202px;
    background-color: #999;
    border-radius: 10px;
}

.card__details{
    display: flex;
    margin-top: 16px;
    gap: 12px;
}

.channel__thumbnail{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #999;
}

.card__details_about {
    color: white;
}

.card__details_about_light {
    color: #000;
}

.card__details_about > h1 {
    font-size: 16px;
    font-weight: 500;
    
}

.card__details_about >h2 {
    font-size: 14px;
    /* color: white; */
    margin: 8px 0px;
}

.card__details_about > p {
    font-size: 14px;
    /* color: white; */
}
.card__details_about > p > span {
    font-size: 5px;
    vertical-align: middle;
}